@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Seymour+One&display=swap');

:root{
    --main-color:#e84242;
    --black-color:#121212;
    --border:0.1rem solid rgba(255,255,255,0.4);
}


    



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;  
    transition: 0.2s ease;

}


/* base html codes*/

html{
    font-size:62.5%;
    overflow-x: hidden; /*kaydırma çubuğunu yatay eksende kaldırdık*/
    scroll-margin-top: 9rem;
    scroll-behavior: smooth;  /* kaydırma özelliği düzgün,canlı olur*/
}




body{
    background-color:var(--main-color);
    
}


.btn{

    margin-top: 1rem;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    border: none;
    transition: all 0.5s; 
    
    

}


.del{
    font-size: 10px;
    display: inline-block;
    padding: 5px;
    text-decoration: line-through; /*yazıyı ortadan çizer*/
}

.btn:hover{
    
        color: #fff;
        background-color:#323232 ;
        
    
    
}

.card-font{
    font-size: 30px;
    font-weight:600;
}

.bord{
    border:0.1px solid #efefef;
    
    
}

section{
    padding:3.5rem 7%;

}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}


/* HEADER-START*/

.header .logo img{
    height: 10rem; 
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px 0px #121212 ;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    
   
    
    
}
.header .navbar a{
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent ;
    cursor: pointer;
}

.header .navbar .active,
.header .navbar a:hover{
    
    border-color: var(--main-color);
    padding-bottom: 0.rem;
    
}

.header .buttons button{
    
    font-size: 2.5rem;
    margin-left: 2rem ;
    background-color: transparent;
    cursor: pointer;
    
    
}


/* HEADER-END*/

/* HOME-START*/

.home{
    min-height: 100vh;
    background: url(../resimler3/home.jpg) no-repeat; /*no-repeat:arka plan tekrarlanmaz*/
    
    background-size: cover; /*arka planı kaplayacak şekilde konumlanır*/
    background-position:center;
    margin-top: -14rem;  /*yukardaki boşluğu aldık*/
    display: flex;
    align-items: center;
    

    
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color:#fff;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 2rem 0;
    color:#ccc;
}








/* HOME-END*/


/* MENU-START*/


.menu .row {

    margin-top:2.5rem;
    
}
.menu img{
    height: 280px;
    width: 250px;
    padding-left:25px ;
}

.menu .card-footer .btn{
    text-transform:capitalize ;
    
}

.menu .card-footer {
  
    border: none;
    background-color: transparent;
    transition: 2s ease;
}








/*MENU-END*/


/*PRODUCT-START*/



.product .row {

    margin-top:2.5rem;
    
    
    
}
.product img{
    height: 480px;
    width: 450px;
    padding: 2rem 0;
}

.product .card-header{
    border: none;
    background-color: transparent;
    padding: 2rem 2rem;

}


.product .card-footer {
  
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    

    
}

.product .buttons button{
    background-color: transparent;
    font-size: 7rem;
    color: #e84242;

}












/*PRODUCT-END*/

/*ABOUT-START*/
.about .row {

    margin-top:2.5rem;
    
    
}

.about .card-footer {
    
    background-color: transparent;
    border:none;
    display: flex;
    background-color: var(--main-color);
    
    
}



.about .card-footer .card-body img{
    height: 500px;
    width: 100rem;
    margin:0 -2rem;
}


.about .card-footer .card-body{
    display: flex;
    gap: 50px;
    
    
    
}
    



.about .card-footer .card-contents p{
    font-size: 1.6rem;
    color: #cccccc;
    
}


/*ABOUT-END*/

/*CUSTOMER-END*/

.review{
    padding: 2rem 12rem;
    margin: 0 -2rem;
}

.review .row {

    margin-top:2.5rem;
   
    
}


.review .card-header{

    background-color: transparent;
    border: none;
    padding: 2rem 2rem;
    text-align: center;
    
}


.review .card-header .img1  {
    display: flex;
    align-items: center;
    justify-content: center;
}


.review .card-header p {
    font-size: 15px;
    font-family:sans-serif;
    text-align:center ;
}

.review .card-header .img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.img2 img{
    border-radius:30rem;
    height: 8rem;
    width: 8rem;
    
}

.review .card-header h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

.review .card-header a{
    font-size: 2.5rem;
    color:gold;
    
   
}


/*CUSTOMER-END*/



/*CONTACT-START*/
.contact .row{
    margin-top: 2.5rem;
}
.contact{
    margin: 0 -10rem;
    padding: 0rem 20rem;
    
}


.contact .col{
    display: flex;
    gap: 15rem;
    
}



.contact .card-footer{
    background-color:#323232;
    border-radius: 25rem;
    padding: 1rem 5rem;
    margin: 0 -5rem;
    color: white;
    
    
    
}

.contact .card-footer h3{
    display: flex;
    justify-content: center;
    margin-top:2rem ;
    font-size: 4rem;
    text-transform: uppercase;
  }

.contact .card-footer .inputBox{
    font-size: 2rem;
    display: flex;
    margin:3rem 4rem;
    column-gap: 4rem;
    border: 1px #ccc solid;
    padding: 2rem 2rem;
    
       
   
}

.contact .card-footer .inputBox input{
    
    background-color: transparent;
    
       
   
}



.contact .card-footer .btn{
    
  margin-left:13rem ;
 
  margin-top: -1rem;
   
}

.contact .btn:hover{
    background-color: #1c1a1a;
}

/*CONTACT-END*/


/*BLOG-START*/

.blog .row{
    margin-top: 2.5rem;
    

    
    
}

.blog {
    padding: 2rem 15rem;
    margin: 0 -3rem;
    
    
}
.blog .col .card  {
    border-radius: 2rem;
    
    
}
.blog .col .card img {
    border-radius:2rem 2rem 0 0;
    
}

.blog .col .card:hover img{
    
    opacity: 0.9;
    

}

.blog .col .card .container {
    padding: 3rem;
    
}

.blog .bord{
    margin: 1rem -1.9rem;
}



/*BLOG-END*/


/*FOOTER-START*/

.footer{
    background-color: var(--black-color);
    text-align: center;
    padding: 15rem;
    margin:5rem -12rem ;
    margin-bottom: -3.4rem;
    
}

.footer .search{
    display: flex;
    justify-content: center;
}


.footer .search .search-input{
    width: 30rem;
}

.footer .search .btn{
    background-color: var(--main-color);
    padding:1rem 2rem ;
    margin-left: 1rem;
}


.footer .share{
    padding: 5rem 0;
    font-size: 4rem;
    
}

.footer .share a{
    border: 1px solid #8e8181;   
    padding: 1rem;
    border-radius: 50%;
    color: #fff;
    
}

.footer .share a:hover{
    
    background-color: var(--main-color);
   
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem ;
    
    
}

.footer .links a{
    background-color: var(--main-color);
    padding:0.7rem 2rem ;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border: var(--border);
    
}
.footer .links a:hover{
    background-color: var(--black-color);
    opacity: 0.7;
    color: #8e8181;
    
}



.footer .links a.active{
    background-color: var(--black-color);
    
}

.footer .credit{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 15px;
}


.footer .credit span{
    color: var(--main-color);
}



/*FOOTER-END*/


